{% extends 'menu/layout.html' %}
{% load static from staticfiles %}

{% block title %}
- All Current Menus
{% endblock %}

{% block content %}
<div class="post">
    {% if user.is_authenticated %}
    <a class="btn btn-default" href="{% url 'item_edit' pk=item.pk %}"><span
            class="glyphicon glyphicon-pencil"></span></a>
    {% endif %}
    <h1>{{ item.name }}</h1>
    <p>{{ item.description }}</p>
    <img src="{% static 'images/chef.png' %}">
    <p><strong>Head Chef:</strong> {{ item.chef }}</p>
    <img src="{% static 'images/seasoning.png' %}">
    <p>
        <strong>Ingredients: </strong>{{ item.ingredients.all|join:", " }}</p>
    {% if item.standard %}
    <img src="{% static 'images/calendar.png' %}">
    <p><em>This item is available year-round.</em></p>
    {% endif %}
</div>
{% endblock %}