{% extends 'menu/layout.html' %}

{% block title %}
- New Menus
{% endblock %}

{% block content %}
<h1>New Menu</h1>
<form method="POST" class="menu-form">
    {% csrf_token %}
    {% if errors %}
    <ul>
        {% for error in errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <div class="row">
        {{ form.season.label }}
        {{ form.season }}
    </div>
    <div class="row">
        {{ form.expiration_date.label }}
        {{ form.expiration_date }}
    </div>
    <div class="row">
        {{ form.items.label }}
        {{ form.items }}
    </div>
    <button type="submit" class="save btn btn-default">Save</button>
</form>
{% endblock %}